.jumbotron {text-align:center;
background-color: #7F0000;
color:#E5BA7C;}




h2 {font-size:25px;
margin-top: 50px;
margin-bottom: 10px;
text-align: center;
color:#E5BA7C;}


.answers {font-size:12px;
margin-top: 30px;
margin-bottom: 10px;
text-align: center;
color:#E5BA7C;
margin-right: 5px;
margin-left: 5px;
font-weight: normal;}


.submitstartbutton {width:500px;
height:50px;
text-align: center;
margin-right: auto;
margin-left: auto;
margin-top: 25px;
color: #7F0000;
background-color:#E5BA7C; }

.timer {
margin-left: 100px;
position:fixed;
color:#E5BA7C;
font-size: 25px;}

body {background-color: #400000;
margin-bottom: 50px;}}

